
:root {
    --color-white: #DDDDDD;
    --color-black: #222831;
    --color-grey: #30475E;
    --color-red: #F05454;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
}

.main{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 99vh;
    /* border: solid black 5px; */
}

.main__title{
    color: var(--color-red);
}

.main__center--title{
    border-style: dotted;
    padding: 5vh;
}

.main__center{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.center__rigth--item{
    border: solid black 5px;
    padding: 1vh;
    margin: 5px;
}

.main__foot{
    border: solid black 5px;
    padding: 1vh;
    margin: 5px;
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57vw;
    height: 40vh;
    margin-left: 40px ;
    border: 1px var(--color-grey) dashed;
}

.dropzone__image {
    padding: 0 0 1.5rem;
    color: var(--color-grey);
    font-size: 3rem;
}

.dropzone__text {
    padding: 0.25rem;
    color: var(--color-grey);
    text-align: center;
}



